<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="XmlReplace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <XmlReplace.Properties.Settings>
      <setting name="SourceStr" serializeAs="String">
        <value>&lt;?xml version='1.0'?&gt;        
&lt;!-- This is a sample XML document --&gt;        
&lt;Items&gt;          
&lt;Item&gt;
test with a child element &lt;more/&gt; stuff&lt;/Item&gt;        &lt;/Items&gt;</value>
      </setting>
      <setting name="TemplStr" serializeAs="String">
        <value/>
      </setting>
      <setting name="SimpleOutputRemoveXmlDeclaration" serializeAs="String">
        <value>True</value>
      </setting>
    </XmlReplace.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>dVxztM9PY2I+bi/gmgPAW08yb4TkOXxZcUTtVefIKd6qjm+M7pP7ZxyS5dm+BT5ZbcpnrwM5u3rdHJxF8u2hYTeBE893RxCow9zeQuQJsTm/M/kFHPxdwwi6N7ElpiwhYXGrGJgTB2mK+5B66Pc+/d5p9/fZShxLYwVEEZrDphpdy2LUpL/n1if4AAyS8iCdEFHULEl1NRpmt/Pu8N45Sx0bWyt47lx2K+nefOovyFbR1SzUQgvT9MylDj4FjbChiQaRSkSo3Kag6F5yQMzy2VwdFNYBiqZeSHQJImJGUdNjvKZ9HQlHouSzYg6Sc6cxN28n3bmpMOnl+tnnQGt0LQ==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>XWOz+6RQKPzUnxAB1C5XnaPVWKFdupEzAayyGd60yWzw480nDCNKwH9JPeXF0YGw2AXLd/O9906FBzJB7J3yJVDq74rDq+mO/6xGQe0DC6RKMkqSqYZsoQ+A1BxbHvm2/W7yo/mbKJr6zzkp+4nraX4BOgb7BeaonG8Ho5QpBYgmsjLhbBxDYEqLtUWSWvyVa0mwR31R56pL6zWv5AMf3nQM4CKxrJAE0/Ux6uVUAhyjNmZavlrrykCDaPYiBxMIjTpCS3tIvA6PTmTjCnsg7HJj4SUynO99KbWwaeyQdmaKd5aAp+ROIfARc6zyYJlfr5w35IjeQUw35BqDp87anW20gah28Vo/lCQdWTbsj9q+CHZwHn14oXRXJ6bEhrjkd7OK/BbxLJ+z+nM/fG/3s36nndx1TUzfhNr281kXMA6r46FeNPk76qDvS+ndTfSkDXJIdgS+exwEsCE20AkDnoAy/tnfHutUuCTwuMH2bLojzEGNZ0XJT77NVajn/9vdAK94fxCeKDcaLM4BkqITw6aHYhd7/7UodceNYfu4ASauLAdzWcsW/cxr0HzxsocYmgJbAsp++3JqXdGd3XdfiAIGPxxw6gf1Bh+eLV+2sm4=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
</configuration>
