<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SimpleRegReplace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
  </configSections>
  <userSettings>
    <SimpleRegReplace.Properties.Settings>
      <setting name="SoundBasePath" serializeAs="String">
        <value />
      </setting>
      <setting name="KnownTemplates" serializeAs="String">
        <value />
      </setting>
    </SimpleRegReplace.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="main26Entities" connectionString="metadata=res://*/Site.csdl|res://*/Site.ssdl|res://*/Site.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=main26.db.9564855.hostedresource.com;initial catalog=main26;persist security info=True;user id=main26;password=opRUq#wd333;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
